*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: rgb(41, 40, 40);
    
}

.innerheader{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.logos{
    height: 100%;
    display: table;
    float: left;
}
.logos h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 200;
}
.logos h1 span{
    font-weight: 800;
}
.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}


.navigation a:last-child{
    padding-right: 0;
}
.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: "montserrat";
    font-size: 16px;
}

.flex-container{
    display: flex;
}
.main-container{
    flex: 1;
    height: 95vh;
    background-color: rgb(210, 206, 206);
}

.inputs{
    width: 200px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin: 0 20px;
    font-size: 15px;
    font-family: "montserrat";
}

* input{
    padding: 2px;
    border-radius: 2px;
}
* select{
    padding: 2px;
    border-radius: 2px;
}


.calculate-button{
    background-color: green;
    font-size: 15px;
    width: 100px;
}
.calculate-button:hover{
    opacity: 90%;
    cursor: pointer;
}

.Analysis-Box{
    background-color: rgb(210, 206, 206);
    width: 20%
}
.Batteries-Box{
    background-color: rgb(210, 206, 206);
    width: 20%;
}
.Results-Box{
    width: 20%;
    background-color: rgb(58, 187, 112);
   
}

.Results-Analysis-Title{
    font-size: 20px;
    font-family: "montseratt";
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
.Motor-Analysis-Title{
    margin-top: 10px;
    font-size: 20px;
    font-family: "montseratt";
    margin-bottom: 20px;
    margin-left: 10px;
}

.Battery-Analysis-Title{
    margin-top: 10px;
    font-size: 20px;
    font-family: "montseratt";
    margin-bottom: 20px;
    margin-left: 10px;
}
.Results-Analysis-List{
    font-size: 15px;
    font-family: "montseratt";
    margin-bottom: 20px;
    margin-left: 10px;
}
.Motor-Analysis-List{
    font-size: 15px;
    font-family: "montseratt";
    margin-bottom: 20px;
    margin-left: 10px;
}

.Battery-Analysis-List{
    font-size: 15px;
    font-family: "montseratt";
    margin-bottom: 20px;
    margin-left: 10px;
    
}

.Graph-Container{
    margin-top: 5vh;

    height: 40vh;
    width: 80vh;
}

.coming-soon{
    background: grey;
    width: 100%;
    height: 100vh;
    font-size: 50px;
    text-align: center;
    
}