*, *::before, *::after {
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
  font: inherit;
}
html{
  color-scheme: dark light;
}
body {
  min-height: 100vh;
}
img, picture, svg, video{
  display: block;
  max-width: 100%;
}

/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset some default styles */
body, h1, h2{
  margin: 0;
  padding: 0;
  
}



form {
  font-family: 'Roboto', sans-serif; /* Updated font */
  color: white;
  line-height: 1.6;
  padding-left: 80px;
  padding-top: 20px;
  background-size: cover;
  background-attachment: fixed;
}

.header1 { /* Dark blue shade */
  color: gold;
  padding: 0px;
  padding-top: 10px;
  text-align: center;
  font-size: 2.5em;
  font-weight: normal;
  margin-bottom: 30px;
}

.owner {
  text-align: center;
  font-size: 1.2em;
  color: white; /* Lighter text */
  margin-bottom: 30px;
}

.introduction {
  color: white; /* Darker text for readability */
  font-size: 1.1em;
  max-width: 700px;
  padding-left: 350px;
}
.result-title{
  padding-left: 90px;
  padding-top: 35px;
  color: rgb(0, 255, 0);
  font-size: 1.5em;
  
}
.result-batteries{
    color: white;
    padding-left: 90px;
    font-size: 1.5em;
    padding-top: 25px;
    
}
.result-time{
    color: white;
    padding-left: 90px;
    font-size: 1.5em;
    padding-top: 25px;
}
.motor-file-title{
  color: yellow;
    font-size: 1.5em;
    padding-right: 300px;
    text-align: right;
    margin-top: -150px;
    margin-bottom: 175px;
  }
  
.battery-file-title{
    color: yellow;
    font-size: 1.5em;
    text-align: right;
    padding-right: 500px;
    padding-bottom: 0px;
  }
a{

    color: white;
  }
.user-input2{
  margin-left: 20px;
}



input[type="text"],
input[type="number"],
button {
  padding: 10px;
  margin: 20px;
  margin-left: 45px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 0.3s ease; /* Smooth transition for interactions */
}

.optimize-button{
  background: red;
  border-radius: 4px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 0px;
}
.optimize-button:hover{
  opacity: 0.8;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}


body {
  background-image: linear-gradient(rgb(0, 0, 0, 1),rgba(0, 0, 0, 0.7)) , url('images/plane.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


/* Responsive design for smaller screens */
@media only screen and (max-width: 600px) {
  .header {
    font-size: 2em; /* Smaller font size for headers on small screens */
  }

  .introduction {
    font-size: 1em; /* Smaller text on small screens */
  }
}

@media only screen and (max-height: 800px) {
  .Graph-Container {
    height: 38vh;
    width: 80vh; /* Smaller font size for headers on small screens */
  }

}

