<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- This is the style for the header -->
    <link rel="stylesheet" href="../static/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- This is just a font that we'll be using. You can remove lines 12-14 if you don't want to use Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
    <title>Hi</title>
</head>
<body>
       <div class="header">
            <div class="innerheader">
                <div class="logos">
                    <h1>QUAD <span>CALC</span></h1>
                </div>
                <ul class="navigation">
                    <a href="{{url_for('Home')}}"><li>Home</li></a>
                    <a href="{{url_for('About')}}"><li>About</li></a>
                    <a href="{{url_for('Contact')}}"><li>Contact</li></a>
                </ul>
            </div>
       </div>
       <!-- end of the header block -->
    <div class="flex-container">
       <div class="main-container">
            
            <form class="inputs" method="post">
                <label for="motor_file">Motor File Name</label>
                <select type="text" name="motor_file">
                    <option>choose</option>
                    <option>V10L</option>
                    <option>V505</option>
                    <option>V602</option>
                    <option>V605</option>
                    <option>V804</option>
                    <option>V807</option>
                </select><br>
                <label for="battery_file">Battery File Name</label>
                <select type="text" name="battery_file">
                    <option>choose</option>
                    <option>LiPo-1</option>
                    <option>LiPo-2</option>
                </select><br>
                <label for="drone_weight">Drone Weight (g)</label>
                <input type="number" step="any" name="drone_weight"><br>
                <label for="desired_velocity">Desired Velocity (m/s)</label>
                <input type="number" step="any" name="desired_velocity"><br>
                <label for="desired_altitude">Desired Altitude (m)</label>
                <input type="number" step="any" name="desired_altitude"><br>
                <input class="calculate-button" type="submit" value="calculate">
            </form>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
            <div class="Graph-Container"><canvas id="acquisitions"></canvas></div>
            <script type="module">
            (async function() {
            const data = [
            { BatteryNumber: 1, FlightTime: 0 },
            { BatteryNumber: 2, FlightTime: 0 },
            { BatteryNumber: 3, FlightTime: 0 },
            { BatteryNumber: 4, FlightTime: 0 },
            { BatteryNumber: 5, FlightTime: 0 },
            { BatteryNumber: 6, FlightTime: 0 },
            { BatteryNumber: 7, FlightTime: 0 },
            { BatteryNumber: 8, FlightTime: 0 },
            { BatteryNumber: 9, FlightTime: 0 },
            { BatteryNumber: 10, FlightTime: 0 },
            { BatteryNumber: 11, FlightTime: 0 },
            { BatteryNumber: 12, FlightTime: 0 },
            { BatteryNumber: 13, FlightTime: 0 },
            { BatteryNumber: 14, FlightTime: 0 },
            { BatteryNumber: 15, FlightTime: 0 },
            ];
        
            new Chart(
            document.getElementById('acquisitions'),
            {
                type: 'line',
                data: {
                labels: data.map(row => row.BatteryNumber),
                datasets: [
                    {
                    label: 'Flight Time vs Battery Count',
                    data: data.map(row => row.FlightTime)
                    }
                ]
                }
            }
            );
        })();</script>

       </div>
       <div class="Results-Box">
        <h3 class="Results-Analysis-Title">Results: </h3>
        <ul class="Results-Analysis-UnorderedList">
            <li class="Results-Analysis-List">Hover Flight Time:    ~ seconds </li>
            <li class="Results-Analysis-List">Optimal Battery Number:   ~  Batterie(s)</li>
            <li class="Results-Analysis-List">Total Drone Weight:    ~ g</li>
        </ul>

    </div>
       <div class="Analysis-Box">
            <h2 class="Motor-Analysis-Title">Motor: </h2>
            <ul class="Motor-Analysis-UnorderedList">
                <li class="Motor-Analysis-List">Current - Optimal:  ~   A</li>
                <li class="Motor-Analysis-List">Voltage - Optimal:   ~    V</li>
                <li class="Motor-Analysis-List">Mechanical Power - Optimal:   ~   J</li>
                <li class="Motor-Analysis-List">Best Compatible Propellar:  ~   </li>
                <li class="Motor-Analysis-List">Max Thrust:  ~   N </li>
                <li class="Motor-Analysis-List">Prop mass:   ~  g</li>
                <li class="Motor-Analysis-List">Battery Cell Count:  ~   cells </li>
            </ul>
           

       </div>
       <div class="Batteries-Box">
        <h3 class="Battery-Analysis-Title">Battery: </h3>
        <ul class="Battery-Analysis-UnorderedList">
            <li class="Battery-Analysis-List">Voltage:     ~ V</li>
            <li class="Battery-Analysis-List">Energy:      ~ J</li>
            <li class="Battery-Analysis-List">Capacity:    ~ mAh</li>
            <li class="Battery-Analysis-List">Weight:      ~ g</li>
        </ul>
          
        </div>
    </div>
    
</body>
</html>